nav {
    background-color: var(--oranje);
    display: flex;
    justify-content: flex-end;
}

nav a,
nav a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 8px 32px;
    text-transform: uppercase;
    font-size: x-small;
}


.active-link {
    padding: 10px;
}

header {
    max-width: 1000px;
    background-color: var(--oranje);
}
header img {
    width: 20%;
    padding: 16px;

}