.outer-container {
    border: dashed 2px orange;
    background: var(--lichtoranje);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.inner-container {
    border: dashed 2px blue;
    display: flex;
    flex-direction: column;
    flex-basis: 1000px;
    flex-grow: 0;
    flex-shrink: 1;
}
